body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}


ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #858587;
}



li a {

    display: inline-block;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
}

li{

    display: inline-block;
}



li a:hover {
    background-color: #000000;
}

#header{
    padding: 12px;
    background-color: #a5a5a5;
    margin:  0px;
    text-align: center;
    font-weight:700;
    font-size: 30px;
}

#clicked {
    background-color: #000000;
}

#admin{
    height: 100%;
    margin: 50px auto 40px auto;
    text-align: center;
}


#main{
    height: 100%;
    width: 80%;
    margin: 50px auto 40px auto;
}



#description{
    width: 80%;
    font-size: 18px;
    margin: 0px auto 120px auto;
}



#indexTexto {
    font-size: 45px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight:700;
}


#indexImagen{
    display: block;
    padding: 20px 0px;
    margin: auto;
    width: 60%;
}


#acercaTexto{
    text-align: center;
    padding: 50px 0px;
    margin: 0px;
    font-weight:400;
    font-size: 20px;
}


#acercaImagen{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
}


#footer-hotel{
    display: block;
    color: white;
    height: 70px;
    background-color: #858587;
    text-align: center;
}