
.content {
align-content: center
}

body {
	background: #636363  ;
	color: #F60;;
	font-family: "Chalet", Helvetica, Verdana;
	font-size: 1em;
   
}



header, section#contenido, footer {
	background:  #636363 ;
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}
@media screen and (min-width:1081px){
	header h1{
		text-align: left;
		width: 35%;
	}	

	nav {
		text-align: right;
		width: 60%;
	}	
}

a {
	color: #F60;;
	font-weight: bold;
	text-decoration: none;
}

nav ul{
	list-style: none;	
}

nav li {
	display:inline-block;
	padding: 0.1em;
	vertical-align: top;
}


nav a {
	background:  #636363 ;
	border: 0.1em solid #57ABB8;
	border-radius: 0.25em;
    color: #F60;
    display: block;
    font-family: "Pecita", Helvetica, Verdana;
    font-size: 1.4em;
	padding: 0.2em;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;

}

nav a:hover {
	background: #636363 ;
	border: 0.1em dashed #F60;
	border-radius: 0 0.5em 0 0.5em;
    color: #F60;;
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

section#principal, aside {
	background: #636363;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	padding: 0.25em;
	vertical-align: top;
	width: 65%;
}

article#galeria-inicio  {
	border-radius: 0.5em;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	width: 95%;
}


article#multimedia-acerca{
	text-align: center;
	width: 40%;
}

footer {
	color: #F60;;
	font-size: 0.85em;
	padding: 0.75em 0;
}
.fade{
	opacity: 1;
	filter:alpha(opacity=10);
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}



header h1, nav {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

#main-image{
    margin-right: 40px;
    width: 60%;
    float: left;
}

.smaller-images{
    margin: 15px 10px;
    width: 11%;
    height: auto;
}

#description{
    width: 80%;
    font-size: 18px;
    margin: 0px auto 120px auto;
}

article,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

#main{
    width: 80%;
    margin: 50px auto 40px auto;
}
#hotel-title{
    font-weight:700;
    margin: 0px;
    font-size: 25px;
}

#hotel-location{
    margin: 5px auto 10px auto;
}
#text-reservation{
    margin: 0;
    font-weight:800;
    font-size: 20px;
}

form div{
    margin: 8px 0px;
}
div{
	text-align: center;
}