body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #858587;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
}

#clicked {
    background-color: #000000;
}

#logo{
    padding: 10px 15px 10px 15px;
    font-weight:700;
    font-size: 24px;
}

#main{
    width: 80%;
    margin: 50px auto 40px auto;
}

#hotel-title{
    font-weight:700;
    margin: 0px;
    font-size: 25px;
}

#hotel-location{
    margin: 5px auto 10px auto;
}

#main-image{
    margin-right: 40px;
    width: 60%;
    float: left;
}

.smaller-images{
    margin: 15px 10px;
    width: 11%;
    height: auto;
}


#text-reservation{
    margin: 0;
    font-weight:800;
    font-size: 20px;
}

form div{
    margin: 8px 0px;
}

#description{
    width: 80%;
    font-size: 18px;
    margin: 0px auto 120px auto;
}

#footer-hotel{
    display: block;
    padding-top: 20px;
    color: white;
    height: 70px;
    background-color: #858587;
    text-align: center;
}